/* Colors */
/* Fonts */
/* Spacing and Sizes */
/* Container Sizes */
/* Background Images */
/* Other */
/* Navbar */
/* Button */
/* Breakpoints */
/* Card Height */
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Gabarito:wght@400;700&family=Montserrat:wght@300&family=Quicksand:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Gabarito:wght@400;700&family=Montserrat:wght@300&display=swap");
h1 {
  color: palevioletred;
  font-family: "Quicksand", cursive;
  font-size: 60px;
}

h2 {
  color: rgb(221, 48, 106);
  font-family: "Quicksand", cursive;
  font-weight: 1000;
  font-size: 40px;
}

p {
  font-family: "Montserrat", cursive;
  padding: 5px;
  margin-left: 10px;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: rgb(221, 48, 106);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: orange;
}

.logo {
  height: 50px;
  width: 100px;
  margin-right: 10px;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .img-size {
    max-width: 100%;
    height: auto;
  }
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  font-family: "Quicksand", cursive;
  font-size: 1rem;
  font-weight: bold;
}
header .nav-link {
  font-family: "Quicksand", cursive;
  font-size: 1rem;
  font-weight: bold;
}
header .navbar {
  background-color: black;
  background-image: url("../assets/img/Header/header1.jpeg");
  background-size: cover;
  align-items: center;
  text-align: center;
}

footer {
  background-color: black;
  color: antiquewhite;
  font-family: "Montserrat", cursive;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.social-icons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-icons p {
  margin-bottom: 10px;
}
.social-icons ul.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons ul.social-list li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons ul.social-list li img {
  width: 30px;
  height: auto;
  filter: invert(1);
  fill: palevioletred;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.linkNavFooter {
  color: antiquewhite;
  font-family: "Quicksand", cursive;
}

.listNavFooter {
  list-style: none;
  align-items: center;
}

.listNavFooter li {
  display: inline;
  text-decoration: none;
  align-items: center;
  margin-right: 10px;
}

.copyright {
  color: antiquewhite;
  font-weight: 400;
  display: block;
}

.linkNav {
  text-decoration: none;
  color: antiquewhite;
  justify-content: space-evenly;
  font-family: "Quicksand", cursive;
}

/* Hover effect */
.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.1);
  color: black;
}

.img-hover-radius {
  transition: transform 0.3s ease;
}

.img-hover-radius:hover {
  transform: scale(1.1);
  background-color: palevioletred;
  color: black;
  border-radius: 10px;
}

/* Index Main*/
.index-banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  margin: 50px auto 40px;
}

.index-banner img {
  object-fit: contain;
}

.releases {
  margin-top: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

/* Main Marca */
.about-us {
  margin-top: 20px;
}

.col {
  text-align: center;
}

.col img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.container-marca {
  width: 1400px;
  margin: auto;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  margin-bottom: 50px;
}

.pink-text {
  color: rgb(221, 48, 106);
  font-weight: bolder;
}

.orange-text {
  color: orange;
  font-weight: bolder;
}

.green-text {
  color: rgb(71, 211, 71);
  font-weight: bolder;
}

/* Main productos */
.container {
  padding: 0 !important;
}

.card-product {
  margin: 10px;
  object-fit: fill;
  max-height: fit-content;
  width: 100%;
}

.card {
  width: 18rem;
}

.card-image {
  height: 200px;
  object-fit: contain;
  margin-top: 15px;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #f8f9fa;
  color: palevioletred;
  font-weight: bold;
}

.accordion-button {
  background-color: #f8f9fa !important;
  color: palevioletred !important;
  font-weight: bold;
}
.accordion-button:hover {
  background-color: #faeaef !important;
}
.accordion-button:focus, .accordion-button:active {
  background-color: #f8f9fa !important;
  color: rgb(221, 48, 106) !important;
}

/* Main collabs */
.img-size {
  width: 1000px;
}

/* Main Contacto */
form {
  font-family: "Montserrat", cursive;
  padding: 5px;
  margin-left: 10px;
  display: block;
}

.formulario {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fatherForms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.text-container {
  width: 800px;
}

/*# sourceMappingURL=estilos.css.map */
