h1 {
  color: $color-title;
  font-family: $font-title;
  font-size: 60px;
}

h2 {
  color: $color-subtitle;
  font-family: $font-title;
  font-weight: 1000;
  font-size: 40px;
}

p {
  font-family: $font-text;
  padding: $spacing-small;
  margin-left: $spacing-medium;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
a {
  color: $color-subtitle;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
a:hover {
    color: orange;
}

.logo {
  height: 50px;
  width: 100px;
  margin-right: $spacing-medium;
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}
// Responsive media queries//
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
  .img-size {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 575px) {
}

